* {
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
}

header {
    background-color: rgb(190, 190, 190);
}

nav {
    background-color: rgb(220, 220, 220);
    /* ajuste automático */
    display: flex; 
    /* espaçamento e igualdade entre as extremidades */
    justify-content: space-between;
}

.Nav_Home {
    border: 1px solid black ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.Nav_2 {
    background-color: rgb(220, 220, 220);
    /* ajuste automático */
    display: flex; 
    /* espaçamento e igualdade entre as extremidades */
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

.Nav_2 a {
    padding-left: 15px;
}


main {
    background-color: black;
    display: flex;
}

section, aside, div {
    /* float: left; */
    padding: 15px;
}

section {
    background-color: rgb(155, 155, 155);
    /* width: 50%; *//*<- volta a ser column default */
}

aside {
    background-color: rgb(215, 215, 215);
    /* width: 25%; *//*<- volta a ser column default */
}

.div_irrelevante {
    background-color: rgb(120, 120, 120);
    /* width: 25%; *//*<- volta a ser column default */
}

footer {
    background-color: rgb(190, 190, 190);
    position: fixed;
    bottom: 0;
    width: 100%;
}