* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabeçalho e Navegação */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2, h3, h4 {
    margin-bottom: 20px;
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* conteúdo Principal */

main{
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;
}

section{
    background-color: white;
    padding: 15px;
    border-radius: 05px;
}

img{
    border-radius: 05px;
}

main section ul li {
    list-style-type: none;
}

p{
    margin-bottom: 15px;
    padding: 10px;
}

pre{
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

li{
    margin: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 10px;
    margin: 15px;
    box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.3);
}


aside {
    border-left: 5px solid #333;
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
}


